body {
    font: 12pt "Spectral";
    text-align: justify;
    background-color: white;
    width: inherit;
}

h1 {
    font-weight: normal;
    font-size: 30pt;
    padding: 0;
    line-height: 0;
    border: 0;
    margin-top: 50%;
    text-align: left;
}


h2 {
    font-size: 18pt;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
}



h3 {
    font-size: 16pt;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}


h4 {
    font-size: 16pt;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    margin-left: 1em;
}


h5 {
    font-size: 14pt;
    font-style: normal;
    font-weight: normal;
    text-align: left;
    margin-left: 2em;
}

h6 {
    font-size: 14pt;
    font-style: italic;
    font-weight: lighter;
    text-align: left;
    margin-left: 3em;
}

p {
    width: 100%;
}

table {
    width: 100%;
    border: 1px solid gray;
    font-size: 12pt;
    vertical-align: top;
    font-weight: normal;
}

table * {
    width: 100%;
    border: 1px solid gray;
    font-size: 12pt;
    vertical-align: top;
    font-weight: normal;
}

table th {
    font-style: normal;
    width: auto;

}

table td {
    font-weight: lighter;
    width: auto;
    height: 2em;
}

pre  {
    background-color: #FFF;
	border: 0px solid #cccccc;
	border-radius: 0px;
	overflow-x: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

pre.hljs {
    background-color: #f8f8f8;
	border: 1px solid #cccccc;
	border-radius: 3px;
	overflow-x: auto;
	white-space: pre-wrap;
	overflow-wrap: break-word;
}

/* ================================================= */
/* TABLE OF CONTENT */
div.table-of-content+ul {
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 1px solid gray;
    padding-left: 1em;
    font-style: normal;
    font-size: 14pt;
}

div.table-of-content+ul * {
    list-style: none;
    font-style: italic;
}

div.table-of-content+ul a {
    color: black;
}


div.table-of-content+h2 {
    font-size: 16pt;
    font-style: normal;
    font-weight: normal;
    text-align: left;
}

/* ================================================= */
/* COURIER */
/* Expediteur */
div.courrier-expediteur+p {
    float: left;
    text-align: left;
    border-left: 2px solid gray;
    padding-left: 1em;
    height: fit-content;
    width: fit-content;
}

/* Destinataire */
div.courrier-destinataire+p {
    float: right;
    text-align: right;
    border-right: 2px solid gray;
    padding-right: 1em;
    margin-top: 5em;
    height: fit-content;
    width: fit-content;
}

/* Objet */
div.courrier-objet+p {
    clear: both;
    text-align: left;
    border-bottom: 0px solid gray;
    height: fit-content;
    width: 100%;
}

/* ================================================= */
/* FACTURE & DEVIS */
/* Validité */
div.facture-validite+table {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;
    border: 0px solid gray;
    font-size: 12;
    vertical-align: top;
    font-weight: normal;
    margin-bottom: 5px;
}

div.facture-validite+table * {
    margin: 0;
    padding: 0;
    border: 0px solid gray;
    font-size: 12;
    vertical-align: top;
    font-weight: normal;
}

/* Content */
div.facture-content+table {
    margin-top: 1em;
}

div.facture-content+table td:first-child {
    width: 17%;
    font-size: 10pt;

}

div.facture-content+table td:nth-child(2) {
    font-size: 9pt;
}

div.facture-content+table td:nth-child(3) {
    width: 10%;
}

div.facture-content+table td:last-child {
    width: 15%;
}


/* Signature */
div.facture-conditions+p {
    float: left;
    margin: 0;
    margin-top: 2em;
    margin-right: 3em;
    width: 60%;
}


div.facture-total+table {
    float: right;
    margin: 0;
    border: none;
    text-align: center;
    margin-top: 2em;
    width: inherit;
    height: fit-content;
}


div.facture-total+table * {
    border: none;
    font-weight: normal;
    height: fit-content;
}

div.facture-total+table tbody {
    margin: 0;
}


/*DOCUMENT*/

/* Status */

div.document-status {
    clear: both;
    width: 100%;
    border: 0px solid gray;
    margin-top: 2em;
}

div.document-status+table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding-bottom: 2%;
}

div.document-status+table * {
    border: 0px solid gray;
    margin: 0;
    padding: 0;
}

div.document-status+table th {
    border: 0px solid gray;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    margin-bottom: 3px;
}

div.document-status+table th:first-child {
    border: 0px solid gray;
    width: 75%;
}

div.document-status+table th:last-child {
    border: 0px solid gray;
    font-style: italic;
    padding-right: 2%;
    border-left: 1px solid gray;
}

/*RESUME STYLE */
div.document-resume {
    clear: both;
    width: 100%;
    margin-top: 5em;
}

div.document-resume+p {
    padding: 0;
    margin: 0;
    border: 0px solid gray;
    width: inherit;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5%;
}


/* VALIDATION TABLE */
div.document-validation {
    clear: both;
    width: 100%;
    margin-top: 5em;
}

div.document-validation+table th {
    font-style: italic;
    text-align: right;
}

div.document-validation+table th:first-child {
    font-style: normal;
    font-size: 16;
}

div.document-validation+table td {
    width: 25%;
    height: 4em;
    font-weight: lighter;
}

div.document-validation+table td:first-child {
    font-style: normal;
}
